.container {
  padding: 8px 8px 8px 16px;
  border-radius: 4px;

  &__task {
    background: #2b70d3;
    color: white;
    border-radius: 4px;
    height: 150px;
    width: 300px;

    &.selected {
      box-shadow: 0px 0px 0px 2px #4a89f3;
    }
  }

  &__primary {
    background: #e4e9f1;
    border-left: 12px solid #2b70d3;
    padding: 8px 8px 8px 16px;
    height: 150px;
    width: 300px;

    &.selected {
      box-shadow: 0px 0px 0px 2px #2b70d3;
    }
  }

  &__secondary {
    background: #e4e9f1;
    border-left: 12px solid #2b70d3;
    padding: 8px 8px 8px 16px;
    height: 64px;
    width: 300px;

    &.selected {
      box-shadow: 0px 0px 0px 2px #2b70d3;
    }
  }

  .headingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // gap: 6px;

    &__popover {
      margin-left: 10px;
      cursor: pointer;
    }
  }

  .chip {
    font-size: 14px;
    width: initial;
    padding: 2px 4px;
    border-radius: 4px;
    margin-bottom: 8px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;

    &__task {
      background: white;
      color: initial;
    }

    &__primary {
      background: #2b70d3;
      color: white;
    }
    &__input {
      background: rgba(91, 213, 176, 0.4); /* blue 40 % */
      color: black;
    }
    &__output {
      background: rgba(164, 94, 229, 0.4); /* purple 40 % */
      color: black;
    }
    &__secondary {
      background: #bacde8;
      color: black;
    }
  }

  .labelContainer {
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .nodeIcon {
    // flex: 0 0 auto; // ⬅ never shrink
    // width: 18px; //   “Fi” icons are 24×24 by default;
    // height: 18px; //   you can bump to 20 if you prefer
    // color: #2b70d3; //   or whatever brand colour
  }
}
